<a href="https://colab.research.google.com/github/violet417/Python-Basics-for-Data-Analysis/blob/main/1%EA%B8%B0%EC%B4%88_05_%ED%8A%9C%ED%94%8C_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터들이 연속적으로 저장되는 형태의 자료형
# 튜플 자료형

In [ ]:
tuple1 = (1,2,3)
tuple2 = (1,2,3,[4,5])
print(tuple1)
print(tuple2)

(1, 2, 3)
(1, 2, 3, [4, 5])

In [ ]:
# 튜플 값 변경하기 ---> 에러발생! 값 변경 불가
a = (1,3,5,4,2)
a[2] = 10
print(a)

In [ ]:
# 튜플 값 삭제하기 ---> 에러발생! 값 삭제 불가
a = (1,3,5,4,2)
del a[2]
print(a)

In [ ]:
""" [튜플 자료형 특징]
1. 튜플은 한번 정하면 절대 수정하거나 삭제할 수 없다. 
2. 하나의 변수에 여러 개의 값을 할당하면, 자동으로 튜플로 묶어서 저장해준다. 
3. 기본적으로는 하나의 값은 취급하지 않는다. """

In [ ]:
# 튜플 인덱싱
a = (1,3,5,4,2)
print(a[0])
print(a[-1])

1
2

In [ ]:
# 튜플 슬라이싱
a = (1,3,5,4,2,0,7)
print(a[2:5])
print(a[3:])
print(a[:5])

(5, 4, 2)
(4, 2, 0, 7)
(1, 3, 5, 4, 2)

In [ ]:
# 튜플 덧셈
a = (1,2,3)
b = (4,5,6)
print(a + b)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 튜플 곱셈
a = (1,2,3)
print(a * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# 튜플 길이구하기
a = (1,2,3)
print(len(a))

3

In [ ]:
# 튜플을 리스트로 변환하기
a = (1,3,5,4,2)
a = list(a)
print(a)

[1, 3, 5, 4, 2]

In [ ]:
# 리스트를 튜플로 변환하기
a = [1,3,5,4,2]
a = tuple(a)
print(a)

(1, 3, 5, 4, 2)

In [ ]:
'''<실습 예제>
튜플이 저장된 변수 a에 정수 5를 추가하고, 
내림차순으로 정렬된 튜플을 화면에 출력해 보세요. 
a = (2,3,1,4) '''

a = (2,3,1,4)
a = list(a)
a.append(5)
a.sort()
a.reverse()
a = tuple(a)
print(a)

(5, 4, 3, 2, 1)

In [ ]:
a = (2,3,1,4)
a = list(a)
a.append(5)
a.sort(reverse=True)
a = tuple(a)
print(a)

(5, 4, 3, 2, 1)

In [ ]:
a = (2,3,1,4)
a = list(a)
a.append(5)
a.sort()
a = a[::-1]
a = tuple(a)
print(a)

(5, 4, 3, 2, 1)